
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

@*<div id="page-wrapper">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header"> Sản phẩm</h1>
            </div>

        </div>



    </div>*@

<style>
    table {
        border-collapse: collapse;
        width: 90%;
        margin: auto;
    }

    th, td {
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #000000;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
<h2> Product Admin </h2>

<table>
    <tr>
        <th> ProductID </th>
        <th> ProductName </th>
        <th>ProducerID </th>
        <th> ProductTypeID </th>
        <th> Price </th>
        <th> Hình ảnh </th>
        <th colspan="2">
            <a href="@Url.Action("Create", "ProductAdmin")"><img src="~/Areas/assets/img/Add.png" /></a>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            @*<td>@item.HinhAnh</td>*@
            <td>@item.Deleted </td>
            <td><img src="@item.ImageURL" style="width: 60px; height:70px " /></td>
            <td><a href="@Url.Action("Edit","ProductAdmin", new { id = @item.ProductID})"><img src="~/Areas/assets/img/Edit.png" /></a></td>
            <td><a href="@Url.Action("XoaTam","SanPhamAdmin", new { id = @item.ProductID})"><img src="~/Areas/assets/img/Delete.png" /></a> </td>
        </tr>
    }



</table>


